#pre{
    font-size: 50px;
    margin-left: 20px;
}

/* li{
    
    
    
    color: brown;
    color: aqua !important;
    color: blue;
    color: chartreuse;
} */
.ari{
    color: rgb(204, 58, 160) !important;
}
#isa{
    color: blue;
}
.me{
    color: brown ;
}

.you , .ri {
    color: rgb(166, 228, 50);
}

